streamlit==1.46.1
scikit-learn==1.6.1
pandas==2.3.0
wordcloud==1.9.4
transformers==4.53.0
torch==2.7.1
joblib==1.5.1
plotly==6.2.0
matplotlib
numpy
# et les autres librairies que tu utilises éventuellement (eli5, wordcloud, etc.)
